[Desktop Entry]
Version=1.0
Name=CrashFinder
Comment=Runs a script to help locate crashes
Exec=/usr/bin/x-terminal-emulator -e "/opt/CrashFinder-Xubuntu/CrashFinder.sh"
Terminal=true
X-MultipleArgs=false
Type=Application
Icon=/opt/CrashFinder-Xubuntu/CrashFinder.png
Categories=GNOME;GTK;Development;
